@use "custom";
$primary-color: #000000;

//importthe components
@use "components/animations";
@use "components/buttons";
@use "components/mixins";
@use "components/typography";

//importthe sections
@use "sections/navbar";
@use "sections/intro-section";
@use "sections/companies-section";
@use "sections/testimonials-section";
@use "sections/footer";
@use "sections/fqa-section";
@use "sections/portofolio-section";
