.Services-h2 {
  background-color: #0099ff !important;
  margin: 0px;
  h2 {
    margin: 0;
    text-align: center;
    font-size: 6rem;
    color: #ffffff;
    line-height: 6rem;
    padding: 0;
  }
}
