@use "../custom" as *;

.btn-rounded {
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
    font-weight: 700;
    left: 10%;
    width: 80%;
    margin: 0 0 10px 0;
  }
  position: relative;
  font-weight: 600;
  margin: 0;
  padding: 0.9375rem 4.375rem 0.9375rem 1.2rem;
  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 15px;
    transform: translatey(-50%);
    border-radius: 50%;
    i {
      color: $white;
      line-height: 2.5rem;
      font-size: 1rem;
    }
  }
  &:hover {
    color: $primary;
    font-weight: 600;
    i {
      color: $primary;
    }
    span {
      background-color: $white;
      border: 2px solid $primary;
    }
  }
}
