@use "../custom" as *;

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}

@mixin absolueCenter {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($size, $color) {
  height: $size;
  width: $size;
  border: $color 1px solid;
}

.display-2--intro {
  @include square(200px, red);
}
